.collapse {
    flex-direction: row-reverse;
}

.navbar-nav {
    align-items: flex-end;
}

.navbar-toggler {
    background-color: rgb(209, 127, 88);
    
}

a:hover {
    background-color:  rgb(201, 95, 47) ;
}