@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


@import "footer";
@import "cliente";
@import "imag";
@import "navbar";
@import "index";


*{ 
    padding: 0;
    margin: 0;
}

$formulario:(
   primary: #d17f58,


);

@each $boton, $color in $formulario {
   .btn-#{$boton}{
      background-color: $color;
   }
   
};

.redsocial {
    color: black
}
.facontactdescription {
    @extend.redsocial;
}


@mixin productosdestacados ($color) {
    color: $color;
   
    
}

.productos{
    @include productosdestacados (black);
}


@media (min-width: 500px) {   
    
    .fabrica img {
        max-height: 200px;
    }

    .nosotros img {
        max-height: 50px;
        
    }
    
    .main {
        font-family: 'Quicksand', sans-serif;
    }
    .site-footer {
        height: 200px;
        background-color: black;
    }
    .videos {
        flex-direction: column;
    }
    
    

}

@media (min-width: 900px ) { 


    .fabrica img {
        max-height: 300px;
    }
    .nosotros img {
       
       max-height: 60px;
    }

    .videos {
        flex-wrap: nowrap;

    }
    .quehacemos img{
        max-height: 300px ;
    }
    .quehacemos img {
        margin: 10px, auto;
    }
    
    .quehacemos img:hover {
        animation: mesa 5s;
    }
    
    @keyframes mesa {
        10% {
            transform: scale(2);
        }
    }

}

@media (min-width: 1300px) {

      .fabrica img {
        max-height: 500px;
    }
    
    .nosotros img {
        max-height: 70px;
        
    }
    .videos {
        flex-direction: row-reverse;
    }
    .quehacemos img {
        margin: 10px, auto;
    }
    
    .quehacemos img:hover {
        animation: mesa 5s;
    }
    
    @keyframes mesa {
        10% {
            transform: scale(2);
        }
    }

}



