@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");
.site-footer {
  height: 200px;
}

.redes a i {
  color: white;
  font-size: 40px;
}

.redes a:hover i {
  color: aqua;
}

.contactdescription a {
  color: black;
  font-size: 30px;
}

.quehacemos img {
  max-height: 400px;
}

figcaption {
  font-family: 'Quicksand', sans-serif;
}

.fabrica img {
  max-height: 500px;
}

.quehacemos img {
  margin: 10px, auto;
}

.quehacemos img:hover {
  -webkit-animation: mesa 5s;
          animation: mesa 5s;
}

@-webkit-keyframes mesa {
  10% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes mesa {
  10% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-toggler {
  background-color: #d17f58;
}

a:hover {
  background-color: #c95f2f;
}

.carousel-inner {
  max-height: 800px;
}

.carousel-inner img {
  max-height: 800px;
}

body {
  background-color: rgba(173, 158, 158, 0.603);
}

* {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background-color: #d17f58;
}

.redsocial, .facontactdescription {
  color: black;
}

.productos {
  color: black;
}

@media (min-width: 390px) {
  .fabrica img {
    max-height: 200px;
  }
  .nosotros img {
    max-height: 70px;
  }
  .container {
    margin-top: 300px;
  }
  .quehacemos img {
    max-width: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .site-footer {
    background-color: black;
    margin-bottom: auto;
  }
  .main {
    font-family: 'Quicksand', sans-serif;
  }
  .videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100px;
  }
}

@media (min-width: 900px) {
  .fabrica img {
    max-height: 300px;
  }
  .nosotros img {
    max-height: 60px;
  }
  .videos {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .quehacemos img {
    max-height: 200px;
  }
  .quehacemos img {
    margin: 10px, auto;
  }
  .quehacemos img:hover {
    -webkit-animation: mesa 5s;
            animation: mesa 5s;
  }
  @-webkit-keyframes mesa {
    10% {
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
  @keyframes mesa {
    10% {
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
}

@media (min-width: 1300px) {
  .fabrica img {
    max-height: 500px;
  }
  .nosotros img {
    max-height: 70px;
  }
  .videos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .quehacemos img {
    margin: 10px, auto;
  }
  .quehacemos img:hover {
    -webkit-animation: mesa 5s;
            animation: mesa 5s;
  }
  @-webkit-keyframes mesa {
    10% {
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
  @keyframes mesa {
    10% {
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
}
/*# sourceMappingURL=style1.css.map */